body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background: orange;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}

.burn-box {
  margin-top: 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
}
